a {
  color: #E84855;
  text-decoration: none; 
 }

a:hover {
    color: #142850;
}

h1 {
  font-weight: 300; }

h2 {
  font-weight: 300; }

aside {
  font-family: "Didot", serif; }

body {
  color: #222;
  font-family: "Didot", serif;
  font-size: 22px; }

p code, ul code {
    background: #071E22 !important;
    color: red;
    font-family: monospace;
    padding-left: 2px;
    padding-right: 2px;


}



.hide {
    display: none
}

.text {
  font-family: "Didot", serif;
  color: #444;
  line-height: 2em; }

nav {
  padding: 1em 0;
  color: #444;
  border-bottom: 1px solid #999;
  margin-bottom: 1em; }
  nav a {
    font-family: "Didot", serif;
    font-size: 95%;
    color: #000; }
  nav .contact {
    float: right; }
    nav .contact img {
      width: 1em;
      height: 1em; }
    nav .contact span {
      margin: 2px; }

.i {
    font-size: 20px;
    transition: transform 0.2;
    width: auto;   
    height: auto;
}

.i:hover {
    color: #007bff;
    transform: scale(1.8); /* Efeito de aumento leve */
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0; }

.content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.8em; }
  .content h1 {
    text-align: center; }
  .content .footer {
    margin: 20px 0;
    color: #444;
    font-size: 90%;
    text-align: center; 
    border-top: 1px solid #999

}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0; }
  .header h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-size: 300%; }
  .header a {
    color: #000; }

.posts {
  padding: 1.5em 0; }
  .posts-list .post-tags {
    display: inline-block;
    margin: 10px 0; }
  .posts-list .post h2 a {
    font-family: "Didot", serif;
    color: #444;
    font-weight: 300; }
  .posts-list .post-index aside {
    color: #999; }
  .posts-list .read-more {
    font-size: 90%; }
  .posts-list .tags {
    font-family: "Didot", serif;
    color: #999; }
  .posts-list .post-meta {
    color: gray;
    font-size: 90%; }

.posted-date { 
    color: gray;
    text-align: left;
    font-size: 90%
}

.post-meta { 
    color: gray;
    text-align: left;
    font-size: 80%;
}

.post-show h1 {
  text-align: center;
  color: #444;
  font-weight: 300; }
.post-show aside {
  font-style: italic;
  color: #999; }
.post-show .post-footer {
  padding: 40px 0; }

article img {
  width: 100%; }

section img { 
  object-fit: cover;
  width: 100%;
  height: 300px;
  object-position: center;
}

.button-xsmall {
  font-size: 70%; }

.image-box {
  text-align: center; }
  .image-box .image-caption {
    color: #999;
    font-style: italic;
    text-align: center;
    font-size: 70%; }

.highlight {
  padding: 0 10px;
  font-size: 80%; }

@media (max-width: 1000px) {
  .content {
    margin: 0.5em;
    max-width: 100%; }

  * {
    font-size: 110%; }

  h2 {
    font-size: 180%;
    line-height: 1.5em; }

  nav a {
    font-size: 120%; } 
    
    /* styles.css - Novos estilos para o blog */


